.component {
    padding: 0rem 1rem 0rem 5rem;
    margin: 5rem 0 0 0;
}

.card__1 {
    width: 500px;
    height: 550px;
}

.card__2 {
    width: 865px;
    height: 550px;
    margin-left: 3%;
}

.card__3 {
    width: 320px;
    height: 550px;
    margin-left: 3%;
}

.agregar {
    padding: 0rem 1rem 0rem 0rem;
    margin: 5rem 0 0 0
}

@media (max-width: 768px) {
    .component {
        padding: 0rem 0rem 0rem 0rem;
        margin: 0rem 0 1rem 0rem;
    }

    .card {
        width: 100%;
        height: auto;
    }

    .card__2 {
        margin-left: 0%;
        height: auto;
    }

    .card__3 {
        margin-left: 0%;
        height: auto;
    }

    .flex-column {
        flex-direction: column;
    }

    .d-flex {
        flex-direction: column;
        /* Cambia la dirección del flexbox a columna */
        align-items: center;
        /* Centra los elementos horizontalmente */
    }

    .form-control {
        width: 100%;
        /* Hace que los campos de entrada ocupen todo el ancho disponible */
        margin-bottom: 10px;
        /* Agrega un espacio entre los elementos */
    }

    .me-2 {
        margin-right: 0 !important;
        /* Elimina el margen derecho en dispositivos móviles */
    }
}