/* 
@font-face{
    font-family: "Roboto";
    src: url("../tipografia/Roboto/Roboto-Bold.ttf");
  } */

nav-admin {
    padding: 20px;
    font-family: "Roboto";
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#nav-admin {
    background: #2c497f;
    height: auto;
}

.link-3 {
    transition: 0.4s;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    padding: 0 10px;
    margin: 0 10px;
}

.link-3:hover {
    font-size: 27px;
    /* background-color: #ffffff;
    color: #2c497f; */
    border-radius: 10px;
    padding: 24px 10px;
}

.active {
    transition: 0.4s;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    padding: 0 10px;
    margin: 0 10px;
    text-decoration: underline;
}

@media (max-width: 768px) {
    nav {
        padding: 10px;
    }

    .link-3 {
        font-size: 16px;
        padding: 0 5px;
        margin: 0 5px;
    }

    .link-3:hover {
        padding: 12px 5px;
    }

    .active {
        font-size: 16px;
        padding: 0 5px;
        margin: 0 5px;
    }
}

.saludos {
    text-align: center;
}



.container {
    display: flex;
    justify-content: center;
}

.box {
    width: 390px;
    height: 250px;
    background-color: #e3e3e3;
    margin: 10px;
    border: 3px solid rgb(137, 161, 239, 1);
    background-color: rgb(137, 161, 239, 1);
    ;
    border-radius: 22px;
}